<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<div th:replace="fragments/header :: header (title='Adatok')"></div>
<body>
<div th:insert="fragments/login_out :: loggedIn"></div>

<div class="container myborder">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Szoba</th>
            <th scope="col">Eszköz</th>
            <th scope="col">Fűtés</th>
            <th scope="col">Terület</th>
            <th scope="col">+-</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="szoba, status: ${szobak}">
            <td th:text="${szoba.szobanev}">SzobaNev</td>
            <td th:text="${szoba.eszkozok.eszkoznev}">EszkozNev</td>
            <td th:text="${szoba.futes.futestipus}">FutesTipus</td>
            <td th:text="${szoba.terulet}">Terulet</td>
            <td> <a th:href="@{/meresek/szobak/delete/{id}(id=${szoba.id})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                </a>
                <a th:href="@{/meresek/szobak/edit/{id}(id=${szoba.id})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
            </td>
        </tr>
        <tr>
            <form th:action="@{/meresek/szobakAdd}" method="post" >
                <input type="hidden" th:field="*{szoba.id}">
                <td>Szoba neve: <input type="text" id="szNev" name="szNev" ></td>
                <td>Eszköz neve: <input type="text" id="eszNev" name="eszNev" ></td>
                <td>Fűtés típusa: <input type="text" id="futesT" name="futesT" ></td>
                <td>Szoba területe: <input type="text" id="terulete" name="terulete" ></td>
                <td>Hozzáadás: <input type="submit" id="addSzoba" name="addSzoba"></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a th:href="@{/meresek/reszletesebb}">Részletesebb adatok</a>
</div>
</body>
</html>