<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header (title='Felhasználói adatok')"></div>

<body>
<div th:insert="fragments/login_out :: loggedIn"></div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Név</th>
            <th scope="col">Email</th>
            <th scope="col">Lakásból eltávolítás</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.felh}">Mark</td>
            <td th:text="${user.email}">Mark</td>
            <td><a th:href="@{/users/user/delete/{id}(id=${user.id})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <p>Csak azokat a mezőket töltse ki amiket meg szeretne változtatni!</p>
</div>
<div class="container">
    <form  th:action="@{/users/changePwd}" method="post">
        <div class="form-group">
            <label for="oldpwd">Jelszó</label>
            <input type="password" name="oldpwd" class="form-control" id="oldpwd" placeholder="Régi Jelszó" >
        </div>
        <div class="form-group">
            <label for="newpwd1">Password</label>
            <input type="password" name="newpwd1" class="form-control" id="newpwd1" placeholder="Új Jelszó">
        </div>
        <div class="form-group">
            <label for="newpwd2">Password</label>
            <input type="password" name="newpwd2" class="form-control" id="newpwd2" placeholder="Új Jelszó Megerősítése">
        </div>
        <div class="form-group">
            <label for="newname">Felhasználó név:</label>
            <input type="text" name="newname" class="form-control" id="newname" placeholder="Új felhasználó név">
        </div>
        <div class="form-group">
            <label for="newemail">Email:</label>
            <input type="text" name="newemail" class="form-control" id="newemail" placeholder="Új email cím">
        </div>
        <button type="submit" class="btn btn-primary">Módosítás</button>
    </form>
</div>

<div class="container">
    <form  th:action="@{/users/newLakas}" method="post">
        <div class="form-group">
            <label for="lakasNev">Lakás név</label>
            <input type="text" name="lakasNev" class="form-control" id="lakasNev" placeholder="Lakás neve:" >
        </div>
        <button type="submit" class="btn btn-primary">Hozzáad</button>
    </form>
</div>

</body>
</html>